/* main css file */

* {
  padding: 0;
}

body {
  background: #42f477;
}

#dayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
  list-style: none;
  text-align: center;
  border: 2.5px solid black;
  margin: 5em;
  min-width: 15em;
  background: pink;
}

.titleBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
